html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%; 
    width: 100%;  
}

#canvas {
    display: block; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 0; 
}

button {
    position: absolute;
    top: 20px; 
    margin: 5px;
    z-index: 1; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
}

#changeColorButton {
    left: 10px; 
}

#button1 {
    left: 150px; 
}

#button2 {
    left: 250px; 
}

#button3 {
    left: 350px; 
}

#button4 {
    left: 450px; 
}